@use "mixin" as respond;
//////////////////////////////////////
/// HOTELS
.hotel-preview {
  padding: 3rem;
  width: 25rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  &__block {
    border-radius: 6px;
    height: auto;
    width: 90%;
    padding: 1.8rem 1.4rem;
    margin-bottom: 1rem;
    box-shadow: var(--shadow-light);
    transition: all 0.2s;

    display: inherit;
    flex-direction: inherit;
    align-items: center;

    &:hover {
      transform: translateY(-3px);
      box-shadow: var(--shadow-dark);
    }

    &--active {
      transform: translateY(-3px);
      box-shadow: var(--shadow-dark);
    }

    @include respond.screen(phone) {
      flex-direction: column;
      align-items: inherit;
    }
  }

  &__gallery {
    width: 100%;
    position: relative;

    &-photo {
      width: 100%;
      height: auto;
      border-radius: 8px;
    }

    @include respond.screen(phone) {
      width: 50%;
    }
    @include respond.screen(small-phone) {
      width: 100%;
    }
  }
}
.informations {
  width: 100%;
  margin-top: 1rem;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  &__header {
    &-title {
      font-size: 1.7rem;
      width: 100%;
      cursor: pointer;
    }

    &-link:link,
    &-link:any-link {
      color: var(--color-grey-dark-1);
      text-decoration: none;
      cursor: pointer;

      &:hover {
        color: var(--color-primary);
      }
    }
  }

  &__price {
    margin-left: 0.3rem;
    order: 1;

    &-value {
      font-size: 2rem;
      color: var(--color-primary);
    }
  }

  &__rating {
    background-color: var(--color-primary);
    color: #fff;
    margin-left: 3rem;
    padding: 0 2.25rem;
    position: absolute;
    right: 0;
    order: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include respond.screen(phone) {
      // display: none;
      align-self: center;
    }
  }

  &__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -8px;
  }

  &__rating-count {
    font-size: 0.8rem;
    text-transform: uppercase;
    align-self: flex-start;
  }

  &__stars {
    margin-right: auto;
    display: flex;

    @include respond.screen(phone) {
      display: none;
    }
  }

  &__icon-star,
  &__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary);
    margin: 0.6rem 0 0.6rem 0;
  }

  &__location {
    font-size: 1.2rem;
    display: flex;
    align-items: center;

    &-city {
      color: var(--color-grey-dark-3);
      line-height: 1.4rem;
    }

    @include respond.screen(phone) {
      margin-bottom: 1rem;
    }
  }

  &__icon-location {
    margin-right: 0.5rem;
  }
}
